@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


//MEDIA  QUERY MANAGER
/*
0--600 phone
600-900 Tablet portrait
900-1200 tablet landscape
[1200-1800] is where our normal styles apply
1800+ big desktop


$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop
1em is always=16px for media queries


ORDER: Base + typography > general Layout + grid > page layout > components
*/
@mixin respond($breakpoint) {
  @if ($breakpoint == phone) {
    @media only screen and (max-width: 37.5em) {@content } //600px
  }
  @if ($breakpoint == tab-port) {
    @media only screen and (max-width: 56.25em) {@content } // 900px
  }
  @if ($breakpoint == tab-land) {
    @media only screen and (max-width: 75em) {@content } //1200px
  }
  @if ($breakpoint == big-desktop) {
    @media only screen and (min-width: 112.5em) {@content }//1800px
  }
}