.popup {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba($color-black, .8);
  z-index: 4000;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;

  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter:blur(10px)) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba($color-black, .3);
  }


  &__content {
    @include absoluteCenter;
    width: 80%;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    background-color: $color-white;
    opacity: 0;
    transform: translate(-50%, -50%) scale(.25);
    transition: all .5s .2s;

    @include respond(tab-port) {
      width: 90%;
    }
  }

  &__left {
    width: 33.3333333333%;
    display: table-cell;

    @include respond(tab-port) {
      width: 100%;
      display: block;
    }
  }

  &__right {
    width: 66.6666666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;

    @include respond(tab-port) {
      width: 100%;
      display: block;
    }
  }

  &__img {
    width: 100%;
    display: block;
	
    @include respond(tab-port) {
      width: 50%;
      float: right;
      overflow: hidden;
      height: 25rem;
      object-fit: cover;
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem; //1em=14px as a font size
    column-rule: $color-grey-light-2;
    //-webkit-hyphens: auto;
    //-moz-hyphens: auto;
    //hyphens: auto;
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  //popup open states
  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close-btn {
    &:link, &:visited {
      color: $color-grey-dark-3;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all .3s;
      line-height: 1;
    }

    &:hover {
      color: $color-primary;
    }
  }


}